@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #0d5ce5;
    font-weight: 600;
    font-size: 1.2rem;
}


.navbar{
    height: 6vh;
    width: 100%;
}

.wrapper{
    height: 92vh;
    width: 100vw;
} 

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-container{
    display: grid;
    grid-gap: 20px;
    grid: 100px 100px 100px / auto auto auto;
}

.btn{
    height: 100px;
    width: 150px;
    border-radius: 12px;
    background-color: #fff;
    border: 3px solid #0d5ce5;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #041d48;
    cursor: pointer;
}

.rotater{
    background-color: #0d5ce5;
    color: #fff;
    box-shadow: 0 5px 12px rgb(13, 92, 229,0.3);
}

.footer{
    position: absolute;
    height: 2vh;
    font-size: 0.8rem;
    font-weight: 200;
    margin-left: 5px;
}