@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #0d5ce5;
    font-weight: 600;
    font-size: 1.2rem;
}

.navbar{
    height: 6vh;
    width: 100%;
}

.wrapper{
    height: 92vh;
    width: 100vw;
} 

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle{
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  13px 13px 29px #e0e0e0,
                -13px -13px 29px #ffffff;
}

.cir1{
    height: 45vw;
    width: 45vw;
}

.cir2{
    height: 30vw;
    width: 30vw;
}

.cir3{
    height: 15vw;
    width: 15vw;
}

.text-pos{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.footer{
    position: absolute;
    height: 2vh;
    font-size: 0.8rem;
    font-weight: 200;
    margin-left: 5px;
}

@media screen and (max-width:900px) {
    .cir1{
        height: 60vw;
        width: 60vw;
    }
    .cir2{
        height: 42vw;
        width: 42vw;
    }
    .cir3{
        height: 22vw;
        width: 22vw;
    }
}

@media screen and (max-width:768px) {
    .cir1{
        height: 75vw;
        width: 75vw;
    }
    .cir2{
        height: 50vw;
        width: 50vw;
    }
}

@media screen and (max-width:425px) {
    .text-pos{
        padding: 10px;
        font-size: 0.8rem;
    }
}

